.header {
    display: flex;
    background-color: #1f2937;
    overflow: hidden;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.logo {
    height: 60px;
    width: 252px;
}
  
.header__nav {
    padding-left: 30px;
}