.section__title {
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 50px;

    @include media-lg-max {
      font-size: 28px;
      padding-bottom: 40px;
   }

    @include media-md-max {
      font-size: 26px;
      padding-bottom: 30px;
   }
  }

  .section__articles{

  }

  .section__content{
    width: 832px;

    @include media-lg-max {
      width: 100%;
   }
  }